<h2>Our web site is down but we are not.</h2>

<p>
  <a href="https://www.facebook.com/thebiscuitmanchicago/">
    Check out our Facebook Page
  </a>
</p>

<p>
  <a href="http://www.longroomchicago.com/the-biscuit-man/">
    Find us at the Longroom
  </a>
</p>

<p>
  Give us a call:
  <a href="tel:7736658210">
    (773) 665-8210
  </a>
</p>

<p>
  <a href="https://www.ubereats.com/en-US/chicago/food-delivery/biscuit-man/eiMLbMGhRge9wBTxyG3eEQ/">
    Place an order on Uber Eats
  </a>
</p>


And please: have a nice day.

<img src="/assets/images/aboutimg.jpg" />
